Resources:
  AWSEBLoadBalancerListener443:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - Type: forward
          TargetGroupArn:
            Ref: AWSEBLoadBalancerTargetGroup
      LoadBalancerArn:
        Ref: AWSEBLoadBalancer
      Port: 443
      Protocol: HTTPS
      Certificates:
        - CertificateArn: arn:aws:acm:eu-north-1:131471595343:certificate/844eb4a7-08c6-46f6-bd9e-b75c96247f97
